html, body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;

}
.coffee {
    width: 425px;
    border: 2px solid red;
    border-radius: 10%;
}
.decaf {
    
    height: 400px;
    width: 555px;
    border: 2px solid blue;
    border-radius: 10%;
}
.nav-bar {
    position: fixed;
    width: 100%;
    margin 10px;
    background-color: rgb(55,44,22,.4);
}
.about {
    position: relative;
    left: 315px;
}
.menu {
    position: relative;
    left: 150px;
}
.p {
    font-size: 3em;
}